/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @media only screen and (max-width : 320px) {
        .testMedia{
        display:flex;
        flex-direction:column;

        }

  }



 .vignettes {
    width: 100% !important;
    height:100% !important;
    border-radius:20px !important;
  }

.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}


